body {
    background: #f7f1e3;
    color: #ff5252;
    font-family: Arial, Helvetica, sans-serif;
}

button, input[type="submit"] {
    border: 0;
    background:#227093;
    color: #f7f1e3;
    font-weight: bold;
    cursor: pointer;
}

#main-title {
    text-align: center;
    font-style: italic;
}

.books-list {
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
}

.books-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 17%;
    margin: 30px 1%;
    padding: 20px 0;
    border: 2px solid #84817a;
}

.books-list-item button {
    margin-top: 15px;
}

.books-list-item p {
    margin: 15px 0;
}

.new-book-popup {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);

}

.popup-container {
    background: #ccc;
}

.popup-container form{
    margin: 20px 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.popup-container form .read-check {
    margin: 4px 0;
}

.popup-container form label {
    color: #227093;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1em;
    font-weight: bold;
}

.popup-container form input[type="checkbox"] {
    margin: 0;
}

.read-check {
    display: flex;
}

.read-check label {
    margin-right: 10px;
}